.app-is-loading {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.App.app-no-gutters {
  padding-left: 0;
  padding-right: 0;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.container-fluid.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.tiny-font {
  font-size: 0.75rem;
}

.stadium-image-wrapper {
  position: relative;
}

.stadium-title {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 2rem;
}

.stadium-capacity {
  position: absolute;
  right: 0;
  margin-top: -4rem;
  color: #fff;
  padding-right: 2rem;
}
